/* main {
  background-color: #1e1f29;
} */

body {
  background-color: #1e1f29;
}

* {
  box-sizing: border-box;
}

main {
  border-radius: 10px;
  background-color: #1e1f29;
  padding: 48px;
  max-width: 500px;
  min-width: 375px;
}

h1 {
  color: #fafafa;
  font-size: 48px;
  font-weight: 400;
  font-family: sans-serif;
  text-align: center;
  margin: 0 0 32px 0;
}

input,
textarea,
select {
  background: #2e2d3d;
  color: #fafafa;
  /* line-height:;   Используется для для задания высоты строки и межстрочного интервала (интерлиньяжа)*/
  line-height: 150%;
  /* font-weight: ;  используется для задания толщины (насыщенности) линий символов текста*/
  /* font-style: ; */
  font-weight: 400;
  font-size: 16px;
  font-family: sans-serif;
  padding: 27px 48px 12px;
  border: none;
  border-radius: 10px;
  width: 50%;
  height: 50%;
}

.field {
  margin-bottom: 16px;
  position: relative;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #4a4863;
  font-size: 16px;
}

label {
  position: absolute;
  /* color: #afb2bf; */
  top: 12px;
  left: 48px;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #afb2bf;
}

button {
  color: #fafafa;
  background-color: #6c38cc;
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  text-align: center;
  font-size: 18px;
  line-height: 120%;
  font-weight: 400;
}

.field img {
  position: absolute;
  top: 17px;
  left: 16px;
}


/*Em  при font-size: 
1. 1em - это величина  шрифта родителя
2. 3em - в 3 раза больше значения

Для других значение - рассчитанная величина шрифт самого элемента. */
/* input#email {
  background-image: url(./images/message.svg);
  background-repeat: no-repeat;
}

#email {
  border: none;
  border-radius: 10px;
  width: 250px;
  height: 58px;
  font-size: 12px;
}

#telegram {
  border: none;
  border-radius: 10px;
  width: 250px;
  height: 58px;
  font-size: 12px;
}
input#telegram {
  background-image: url(./images/telegram.svg);
  background-repeat: no-repeat;
} */

/* 
input[type="email"]{
  background: red;
} 
  
absolute ищет ближайшего родителя, у которого position НЕ static 
(то есть relative, absolute, fixed или sticky). 
Если нашёл — позиционируется от него. Если нет — от всей страницы.

.field — это родитель. У него position: relative. Значит, 
он говорит своим детям: «Эй, если вы absolute — считайте координаты от МЕНЯ, 
а не от всей страницы!»*/
