* {
  box-sizing: border-box;
}

body {
  background: #1c1b21;
  color: #fafafa;
  font-size: 55px;
  font-family: "Fira Sans", sans-serif;
}

.container {
  border: 10px solid #6c38cc;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.item {
  background: #232228;
  border: 1px solid #6c38cc;
  text-align: center;
  padding: 10px;
  flex: 0 1 calc(100% / 3 - 20px * 2 / 3);
}

/* 
.item4 {
  flex-grow: 15;
} */

/* flex: 1 1 300px; */
/*flex-grow: 1; flex-shrink: 1; flex-basic: 300px */
/* flex-grow: 1;
  flex-basic: 300px;
  flex-shrink: 1; */

/* align-content: flex-end; */
/*space-between Равномерно распределяет все элементы по ширине flex-блока.Первый элемент вначале, последний в конце*/
/*space-around: Равномерно распределяет все элементы по ширине flex-блока. Все элементы имеют полноразмерное пространство с обоих концов */
/*space-evenly: Равномерно распределяет все элементы по ширине flex-блока. Все элементы имеют равное пространство вокруг*/
/*justify-content: stretch; /* Равномерно распределяет все элементы по ширине flex-блока. Все элементы имеют "авто-размер", чтобы соответствовать контейнеру */
/* justify-content: center;
  align-content: center; */

/* flex-grow: 1; Занимает всю свободную часть чтобы не было пустого места */
