* {
  box-sizing: border-box;
}

body {
  background: #1c1b21;
  color: #fafafa;
  font-size: 55px;
  font-family: "Fira Sans", sans-serif;
}

.container {
  border: 10px solid #6c38cc;
  display: flex;
}

.item {
  background: #232228;
  border: 1px solid #6c38cc;
  text-align: center;
  padding: 10px;
  flex-basis: 300px;
}

.item1 {
  flex: 1 1 300px;
  /*flex-grow: 1; flex-shrink: 1; flex-basic: 300px */
  /* flex-grow: 1;
  flex-basic: 300px;
  flex-shrink: 1; */
}

.item2 {
  flex: 5 2 100px;
  /* flex-grow: 5;
  flex-basis: 100px;
  flex-shrink: 2;  */

  /*Означает что на пять раз в ментше мы должны занимать свободного места, то есть если будет значение 1 ничего не поменяется*/
}

/* align-content: flex-end; */
/*space-between Равномерно распределяет все элементы по ширине flex-блока.Первый элемент вначале, последний в конце*/
/*space-around: Равномерно распределяет все элементы по ширине flex-блока. Все элементы имеют полноразмерное пространство с обоих концов */
/*space-evenly: Равномерно распределяет все элементы по ширине flex-блока. Все элементы имеют равное пространство вокруг*/
/*justify-content: stretch; /* Равномерно распределяет все элементы по ширине flex-блока. Все элементы имеют "авто-размер", чтобы соответствовать контейнеру */
/* justify-content: center;
  align-content: center; */

/* flex-grow: 1; Занимает всю свободную часть чтобы не было пустого места */
