h1 {
  margin: 0 0 17px 0;
}

h1,
h2 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
}

nav {
  padding: 33px 55px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 60px;
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* margin-top: 8px;
  margin-bottom: 0px; */
}

footer {
  background-color: #050038;
  padding: 47px 40px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer div {
  color: white;
}

.heroForm input {
  height: 38px;
  border-radius: 32px;
  border: 1px solid #9b99af;
  padding: 5px 10px;
}

.heroForm button {
  height: 51px;
  border-radius: 32px;
  border: 1px solid;
  padding: 10px 20px;
}

.heroText {
  color: #050038;
  margin: 0 0 55px 0;
}

.sectionText {
  color: rgba(5, 0, 56, 0.6);
  margin: 0 0 40px 0;
}

header a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #050038;
}

.heroForm + p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #050038;
  margin: 8px 0px 52px 0px;
}
/* 
.heroForm input:focus {
  background-color: aliceblue;
} */

/* ul li {
  list-style: none;
} */

.sectionList li::marker {
  list-style: none;
  content: url(../images/check.svg);
}

#heroButton {
  background-color: #4262ff;
  color: #ffff;
}

#heroButton:hover {
  background-color: #122db6;
}

#heroButton:active {
  background-color: #071766;
}
/* 
body{
  color: blueviolet;
} */

/* button{
   background-color: #ffff ;
   } /*   !important */

.link {
  color: #4262ff;
  text-decoration: underline;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
}

.link:hover {
  /*Это означает что этот линк будет наведен*/
  color: #122db6;
}

.divR {
  background: red;
  display: inline;
}

.divB {
  background: blue;
  display: inline-block;
  padding: 20px;
  margin: 20px;
  width: 200px;
  height: 200px;
}

.divG {
  background: green;
  display: inline;
}

.spanR {
  background: red;
  display: inline-block;
   padding: 20px;
  margin: 20px;
  width: 200px;
  height: 200px;
}

.spanB {
  background: blue;
  display: inline-block;
  padding: 20px;
  margin: 20px;
  width: 200px;
  height: 200px;
}

.spanG {
  background: green;
  display: inline-block;
   padding: 20px;
  margin: 20px;
  width: 200px;
  height: 200px;
}
