* {
  box-sizing: border-box;
}

h1 {
  margin: 0 0 17px 0;
  /* text-align: center;  Используется специально для текста */
}

h1,
h2 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
}

nav {
  padding: 33px 55px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 60px;
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* margin-top: 8px;
  margin-bottom: 0px; */
}

footer {
  background-color: #050038;
  padding: 47px 40px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer div {
  color: white;
}

.link {
  color: #4262ff;
  text-decoration: underline;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
}

.link:hover {
  /*Это означает что этот линк будет наведен*/
  color: #122db6;
}

.heroForm input {
  height: 38px;
  border-radius: 32px;
  border: 1px solid #9b99af;
  padding: 5px 10px;
}

.heroForm button {
  height: 48px;
  border: 1px solid #4262ff;
  border-radius: 32px;
  padding: 10px 20px;
}

.heroForm input:focus {
  background-color: aliceblue;
}

.heroText {
  color: #050038;
  margin: 0 0 55px 0;
}

.sectionText {
  color: rgba(5, 0, 56, 0.6);
  margin: 0 0 40px 0;
  /* text-align: justify; */
}

header a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #050038;
}

.heroForm + p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #050038;
  margin: 8px 0px 52px 0px;
}

.sectionList li::marker {
  list-style: none;
  content: url(../images/check.svg);
}

#heroButton {
  background-color: #4262ff;
  color: #ffff;
  transition:
    background-color 2s,
    border-radius 2s;
}

#heroButton:hover {
  background-color: #122db6;
  border-radius: 50%;
}
#heroButton:active {
  background-color: #071766;
}

.exp div {
  width: 200px;
  height: 200px;
  background-color: #050038;
  margin: 10px;
  /* transition: margin-left 2s; */
  color: white;
  font-size: 24px;
  /* /* transform: translateX(-300px);/* */
  /* transition: all 1s;  */
  animation: my-move 2s ease forwards; /*Это говорит о том как мы должны поступать с этой анимацией.*/
  animation-name: my-move;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-iteration-count: 2; /*Сколько мы хотим чтобы проиграла наша анимация раз*/
animation-direction: alternate;/*управление анимацией*/
}


.exp:hover div{
animation-play-state: paused;
}

@keyframes my-move {
  25% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(100%) translateY(-100%);
  }

  75% {
    transform: translateX(0%) translateY(100%);
  }
  100% {
    transform: translateX(0%) translateY(0%);
  }
}

