:root {
  --color-primary: #6c38cc;
  --color-primary-hover: #5b2bb2;
  --space-10: 10px;
  --color-secondary: #e47ad5;
  --color-text: #fafafa;
  --color-link-hover: #afb2bf;
  --color-bg: #16171d;
  --color-bg-medium: #1e1f29;
  --color-bg-light: #2e2d3d;
  --color-stroke: #4d5064;
  --border-8: 8px;
  --border-10: 10px;
  /* --color-base: #fafafa;
  --color-btn: #6C38CC; */
  --layout-width: 1172px;
  --gradient: linear-gradient(
    93.33deg,
    #d77be6 9.26%,
    #be63e6 42.32%,
    #6c38cc 104.58%
  );

  --color-footer: #101114;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-box-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  margin: 30px;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.item {
  color: var(--color-text);
  font-size: 24px;
  font-weight: 700;
  border: 2px solid var(--color-primary);
  text-align: center;
  padding: 15px;
}

.wrapper {
  display: grid; /*fr можно подрузомевать как часть*/
  grid-template-columns: repeat(
    6,
    1fr
  ); /* чтобы такое не использовтаь а именно 1fr 1fr 1fr есть другое спец свойство repeat*/
  /* grid-auto-rows: repeat(3, 1fr); в rows использовать 1fr не получится использовать просто так так как для этого нам нужна фиксированная или высота */
  gap: 15px;
  grid-template-rows: repeat(6, 1fr);
  /* grid-auto-flow: column; */
  /* grid-template-rows: 100px 100px; Тут в нашем случае  только у первых двух эелементах с шириной в 200 пикслей есть сотня высоты у остальных около 50-60 */
  /* grid-auto-rows: 150px  200px; */
  /*А здесь же после этих двух все идет так что они становятся такими что у них вниз 200px. */
  /*Так же можем использовать такое что у нас каждый первый элемент может быть 150 px а второй 200px*/
}

.item__11 {
  grid-column: span  2 /  3;
  grid-row:  1/ -1;
  /* grid-column-start: 1;
  grid-column-end: -1;  тоже самое что и выше*/
  /* делает так что наш элемент(колонка ) выстраевается так что он занимает все место например 8 колонок, но на деле у нас их 6 и таким образом пониамет если их 6 то тогда увеличиваем кол-во колонок и тогда все так сказать станет сломаным*/
  /* grid-row: span 2;  делает нашу колонку в высоту */
}
