:root {
  --color-primary: #6c38cc;
  --color-primary-hover: #5b2bb2;
  --space-10: 10px;
  --color-secondary: #e47ad5;
  --color-text: #fafafa;
  --color-link-hover: #afb2bf;
  --color-bg: #16171d;
  --color-bg-medium: #1e1f29;
  --color-bg-light: #2e2d3d;
  --color-stroke: #4d5064;
  --border-8: 8px;
  --border-10: 10px;
  /* --color-base: #fafafa;
  --color-btn: #6C38CC; */
  --layout-width: 1172px;
  --gradient: linear-gradient(
    93.33deg,
    #d77be6 9.26%,
    #be63e6 42.32%,
    #6c38cc 104.58%
  );

  --color-footer: #101114;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-box-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  margin: 30px;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.item {
  color: var(--color-text);
  font-size: 24px;
  font-weight: 700;
  border: 2px solid var(--color-primary);
  text-align: center;
  padding: 15px;
}

.wrapper {
  display: grid; /*fr можно подрузомевать как часть*/
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  /* grid-template-columns: repeat(3, 100px); */
  grid-template-rows: repeat(10, 100px);
  gap: 15px;
  /*justify: отвечате за выравнивание по основной оси(горизонтальное выравнивание). 
   align: отвечает вертикальное выравнивание по дополнительной оси 
   items, content, self.
   */
  justify-items: center;
  /* align-items: center; убрав этот элемент у нас эти элементы становтся stretch */
  justify-content: start;
}

.item_9 {
 justify-self: end;
 align-self: start;
}


/*
a
l
i
g
n
*/
/*justify*/