:root {
  --color-primary: #6c38cc;
  --color-primary-hover: #5b2bb2;
  --space-10: 10px;
  --color-secondary: #e47ad5;
  --color-text: #fafafa;
  --color-link-hover: #afb2bf;
  --color-bg: #16171d;
  --color-bg-medium: #1e1f29;
  --color-bg-light: #2e2d3d;
  --color-stroke: #4d5064;
  --border-8: 8px;
  --border-10: 10px;
  /* --color-base: #fafafa;
  --color-btn: #6C38CC; */
  --layout-width: 1172px;
  --gradient: linear-gradient(
    93.33deg,
    #d77be6 9.26%,
    #be63e6 42.32%,
    #6c38cc 104.58%
  );

  --color-footer: #101114;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-box-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  margin: 30px;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.item {
  color: var(--color-text);
  font-size: 24px;
  font-weight: 700;
  border: 2px solid var(--color-primary);
  text-align: center;
  padding: 15px;
}

.wrapper {
  display: grid; /*fr можно подрузомевать как часть*/
  grid-template-columns: repeat(auto-fill, 300px); /*fill строит нам grid пока он может нам дать место для посмтройки элементов но fit как только элеемнты кончаются элементы строго встают рядом друг с другом и больше не строит и не оставляет пустое место*/
  gap: 15px;
}


.item_4{
  grid-column: auto / -1;
}